* {
  box-sizing: border-box;
  font-family: Satisfy;
}

body {
  background-color: #ffcc70;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 {
  font-family: Satisfy;
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 1%;
  @media screen and (min-width: 428px) {
    font-size: 50px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  @media screen and (min-width: 428px) {
    gap: 20px;
  }
}

.img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  aspect-ratio: 1/1;
  object-fit: cover;

  @media screen and (min-width: 428px) {
    width: 300px;
  }
}

.img:hover {
  transform: scale(1.05);
  transition: 0.7s;
}

/*  overlay */

.fullscreen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.fullscreen-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* pick button */
.pick-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  z-index: 10;
  right: 20px;
  border: none;
  padding: 20px;
  border-radius: 99%;
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(100, 32, 163, 0.877);
  margin: auto;
  height: 60px;
  color: burlywood;
  width: 60px;
  border: 2px gray solid;
  transition: 0.5s;
}

.pick-button:hover {
  transition: 0.5s;
  clip-path: circle(100%);
  border: 2px purple solid;
  color: purple;
  background: rgba(226, 180, 138, 0.925);
}

/* image overlay */
.pick {
  filter: sepia(1);
}
